services:
  backend:
    image: yrcd27/travel-bucket-list-backend:latest
    container_name: travel-backend
    restart: always
    environment:
      DB_HOST: {{ rds_address }}
      DB_USER: admin
      DB_PASSWORD: {{ db_password }}
      DB_NAME: travelbucket
      JWT_SECRET: {{ jwt_secret }}
      PORT: {{ backend_port }}
      NODE_ENV: production
      CORS_ORIGIN: http://{{ ansible_host }}:{{ frontend_port }}
    ports:
      - "{{ backend_port }}:{{ backend_port }}"
    networks:
      - app-network

  frontend:
    image: yrcd27/travel-bucket-list-frontend:latest
    container_name: travel-frontend
    restart: always
    ports:
      - "{{ frontend_port }}:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
